{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    CarSaleX | Заказы
{% endblock %}

{% block page %}
    Заказы
    <li>
        Новый заказ
    </li>
{% endblock %}

{% block content %}


    <div class="tile is-ancestor" id="create_order">
        <div class="tile is-parent">


            <div class="tile is-child card is-5">
                <form method="POST" action="{% url 'save_client' %}">
                    {% csrf_token %}

                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-circle default"></i></span>
                            Информация о клиенте
                        </p>
                    </header>

                    <div class="card-content">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Имя</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <input type="text" name="first_name"
                                                   value="{{ client.first_name }}"
                                                   class="input"
                                                   placeholder="Имя" required>
                                        </label>

                                    </div>
                                    <p class="help">Имя клиента</p>
                                </div>
                            </div>
                        </div>


                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Фамилия</label>
                            </div>
                            <div class="field-body mb-4">
                                <div class="field">
                                    <div class="control">
                                        <label>
                                            <input type="text" name="last_name"
                                                   value="{{ client.last_name }}"
                                                   class="input"
                                                   placeholder="Фамилия" required>
                                        </label>
                                    </div>
                                    <p class="help">Фамилия клиента</p>
                                </div>
                            </div>
                        </div>


                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Почта</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <input type="email" name="email"
                                                   value="{{ client.email }}"
                                                   class="input"
                                                   placeholder="Почта" required>
                                        </label>
                                    </div>
                                    <p class="help">Почта клиента</p>
                                </div>
                            </div>
                        </div>


                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Телефон</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <input type="text" name="phone_number"
                                                   value="{{ client.phone_number }}"
                                                   class="input"
                                                   placeholder="Телефон" required>
                                        </label>
                                    </div>
                                    <p class="help">Номер телефона клиента</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Дата рождения</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <input type="date" name="date_of_birth"
                                                   value="{{ client.date_of_birth|date:'Y-m-d' }}"
                                                   class="input" required>
                                        </label>
                                    </div>
                                    <p class="help">Дата рождения клиента</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary is-outlined">
                                            <span>Зарегистрировать клиента</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="tile is-child card is-7">
                <form method="POST" action="{% url 'save_order' %}">
                    {% csrf_token %}

                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-application-import"></i></span>
                            Информация о заказе
                        </p>
                    </header>

                    <div class="card-content">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Клиент</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow mb-4">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <label>
                                                <select name="client" class="select" required>
                                                    {#                                                <option value="">Select client</option>#}
                                                    {% for client in clients %}
                                                        <option value="{{ client.id }}"> {{ client.get_full_name }}
                                                            | {{ client.email }} |
                                                            {{ client.phone_number }} | {{ client.date_of_birth }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <p class="help">Выберите клиента</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Автомобиль</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow mb-4">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <label>
                                                <select name="car" class="select" required>
                                                    <option value="">Select Car model</option>
                                                    {% for car in cars %}
                                                        <option value="{{ car.id }}">{{ car.brand }}
                                                            {{ car.model }} | {{ car.year }} | {{ car.fuel_type }}
                                                            | {{ car.horsepower }} |
                                                            {{ car.transmission }}{{ car.engine_size }}
                                                            | {{ car.color }} | {{ car.equipment }} | {{ car.price }} $
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <p class="help">Выберите автомобиль</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Способ оплаты</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow mb-4">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <label>
                                                <select name="payment_method" required>
                                                    <option value="">Выберите способ оплаты</option>
                                                    {% for choice in payment_method_choices %}
                                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                    {#<option value="">Select payment method</option>#}
                                                    {#<option value="{{ Order.CREDIT }}">{{ Order.CREDIT }}</option>#}
                                                    {#<option value="{{ Order.CASH }}">{{ Order.CASH }}</option>#}
                                                    {#<option value="{{ Order.CARD }}">{{ Order.CARD }}</option>#}
                                                    {#<option value="{{ Order.BANK_TRANSFER }}">{{ Order.BANK_TRANSFER }}</option>#}
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <p class="help">Выберите способ оплаты</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Страховка</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input class="b-checkbox checkbox" type="checkbox"
                                                   name="insurance_required">
                                            <span class="check is-primary"></span>
                                            <span class="control-label">Да</span>
                                        </label>
                                    </div>
                                    <p class="help">Клиент нуждается в страховке?</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Услуги дилера</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input class="b-checkbox checkbox" type="checkbox"
                                                   name="dealer_service_required">
                                            <span class="check is-primary"></span>
                                            <span class="control-label">Да</span>
                                        </label>
                                    </div>
                                    <p class="help">Клиент нуждается в услугах дилера?</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Доп. услуги</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <textarea name="additional_services"
                                                      class="textarea"></textarea>
                                        </label>
                                    </div>
                                    <p class="help">В каких дополнительных услугах нуждается клиент?</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Примечания к заказу</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <textarea name="preferences"
                                                      class="textarea"></textarea>
                                        </label>
                                    </div>
                                    <p class="help">Напишите любые примечания к заказу</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Общая стоимость</label>
                            </div>
                            <div class="field-body">
                                <div class="field mb-4">
                                    <div class="control">
                                        <label>
                                            <input type="number" name="total_price"
                                                   class="input"
                                                   placeholder="Общая стоимость"
                                                   required>
                                        </label>
                                    </div>
                                    <p class="help">Введите конечную стоимость заказа</p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">
                                            Подтвердить заказ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
