{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    CarSaleX | Отчёты
{% endblock %}

{% block page %}
    Отчёты
    <li>
        Генерация отчёта
    </li>
{% endblock %}

{% block content %}


    <form method="POST" action="{% url 'save_order' %}">
        {% csrf_token %}

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-application-import"></i></span>
                    Генерация отчёта
                </p>
            </header>
            <div class="card-content">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Start Date</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input" type="date" name="start_date" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">End Date</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input" type="date" name="end_date" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Status</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <label>
                                        <select name="status">
                                            <option value="">Select status</option>
                                            {% for choice in Order.STATUS_CHOICES %}
                                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Payment Method</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <label>
                                        <select name="payment_method">
                                            <option value="">Select payment method</option>
                                            {% for choice in Order.PAYMENT_METHOD_CHOICES %}
                                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Insurance Required</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="insurance_required">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Dealer Service Required</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="dealer_service_required">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Additional Services</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <textarea class="textarea" name="additional_services"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Min Price</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input" type="number" name="min_price">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Max Price</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input" type="number" name="max_price">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Генерировать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


{% endblock %}
